
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ground Control Station</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href=" /vendor/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">

                <a class="navbar-brand" href="index.html">Ground Control Station v1.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                  <img src="/images/hh-logo.png" style="
                      max-width: 240px;
                      padding-top: 20px;
                      padding-bottom: 20px;"/>

                  <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li><a class="active" href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
                        <li><a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Functional Tests</a></li>
                        <li><a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Connection Information</a></li>
                        <li><a href="index.html"><i class="fa fa-dashboard fa-fw"></i> More Options</a></li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Settings<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html">Developer</a>
                                </li>
                                <li>
                                    <a href="login.html">Logout</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row page-header">
                <div class="col-lg-7">
                    <h1 class="header">Pod Data Overview</h1>
                </div>
                <div class="col-lg-2 bg-success col-lg-offset-1">
                  <h2 class="podStatus updateField"> Pod Status: <span class="podStatusField">Pre-Flight</span></h2>
                </div>
                <div class="col-lg-2">
                  <button type="button" class="emergencyStop btn btn-danger btn-lg">Emergency Stop</button>
                </div>
            </div>
            <input type="checkbox" id="testCheckbox"/>

            <div class="row">
                <div class="col-lg-3">
                    <div class="tubePositionPanel panel panel-green">
                        <div class="panel-heading">
                            <span><i class="fa fa-bell fa-fw"></i> Tube Position </span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <div class="list-group-item">
                                    <span>Position</span>
                                    <span class="updateField pull-right"><span class="positionField"></span> cm</span>
                                </div>
                                <div class="list-group-item">
                                    <span>Velocity</span>
                                    <span class="updateField pull-right"><span class="velocityField"></span> cm/s</span>
                                </div>
                                <div class="list-group-item">
                                    <span>Acceleration</span>
                                    <span class="updateField pull-right"><span class="accelerationField"></span> cm/s^2</span>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <div class="positionTelemetryPanel panel panel-green">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Position Telemetry
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <div class="list-group-item">
                                     Lateral Offset 
                                     <span class="pull-right">
                                        <span class="lateralOffsetField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Levitation 
                                     <span class="pull-right">
                                        <span class="levitationField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Height_FR 
                                     <span class="pull-right">
                                        <span class="heightFRField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Height_FL 
                                     <span class="pull-right">
                                        <span class="heightFLField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Height_BR 
                                     <span class="pull-right">
                                        <span class="heightBRField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Height_BL 
                                     <span class="pull-right">
                                        <span class="heightBLField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Yaw 
                                     <span class="pull-right">
                                        <span class="yawField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                    Roll 
                                    <span class="pull-right">
                                        <span class="rollField updateField"></span>cm
                                    </span>
                                </div>
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel .chat-panel -->
                </div>
                <div class="col-lg-6">
                    <div class="podView">                    
                        <img src="/images/podView.png">
                    </div>
                    <div class="switchContainer">
                        <div class="podSwitch">
                            <b>Deploy Wheels</b> <br><input type="checkbox" class="updateField" name="deployWheels">
                        </div>
                        <div class="podSwitch">
                            <b>Eddy Brake</b> <br><input type="checkbox" class="updateField" name="eddyBrake">
                        </div>
                        <div class="podSwitch">
                            <b>Parking Brake</b> <br><input type="checkbox" class="updateField" name="parkingBrake">
                        </div>
                        <div class="podSwitch">
                            <b>Propulsion</b> <br><input type="checkbox" class="updateField" name="propulsion">
                        </div>

                    </div>

                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <div class="batteryInfoPanel panel panel-green">
                            <div class="panel-heading">
                                <span><i class="fa fa-bell fa-fw"></i> Battery Information</span>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <span>Battery Level</span>
                                    <span class="updateField pull-right"><span class="batteryLevel"></span>% Charge</span>
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success batteryLevelProgBar">
                                        <strong><span class="batteryLevelProgBarText"></span>% Charge</strong>
                                    </div>
                                </div>

                                <p>
                                    <span>Voltage Level</span>
                                    <span class="updateField pull-right"><span class="voltageField"></span> Volts</span>
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info voltageFieldProgBar">
                                        <strong><span class="voltageFieldProgBarText"></span> Volts</strong>
                                    </div>
                                </div>

                                <p>
                                    <span>Current Level</span>
                                    <span class="updateField pull-right"><span class="currentField"></span> Amps</span>
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning currentFieldProgBar">
                                        <strong><span class="currentFieldProgBarText"></span> Amps</strong>
                                    </div>
                                </div>

                                <p>
                                    <span>Battery Temperature</span>
                                    <span class="updateField pull-right"><span class="batteryTempField"></span> C.</span>
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger batteryTempFieldProgBar">
                                        <strong><span class="batteryTempFieldProgBarText"></span> C.</strong>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->

                            <!-- /.panel-body -->
                        </div>
                    <div class="exteriorPanel panel panel-green">
                        <div class="panel-heading">
                            <span><i class="fa fa-bell fa-fw"></i> Exterior Conditions </span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <div class="list-group-item">
                                    Pressure <span class="updateField pull-right"><span class="extCondPressureField"></span> PSI</span>
                                </div>
                                <div class="list-group-item">
                                    Temperature <span class="updateField pull-right"><span class="extCondTempField"></span> F</span>
                                </div>
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="interiorPanel panel panel-green">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Interior Conditions
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <div class="list-group-item">
                                    Pressure <span class="updateField pull-right"><span class="intCondPressureField"></span> PSI</span>
                                </div>
                                <div class="list-group-item">
                                    Temperature <span class="updateField pull-right"><span class="intCondTempField"></span> F</span>
                                </div>
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel .chat-panel -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="/vendor/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/vendor/dist/js/sb-admin-2.js"></script>

    <!-- Main Javascript -->

    <!-- Include Socket IO -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>

    <script>
     
    </script>

</body>

</html>
